name: RustBuild

on:
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --release --verbose

    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v2
      with:
        name: linux-amd64-release-brando-ci
        path: target/release/brando-ci
